/* SCSS HEX */
$poppy: #d64045ff;
$maize: #fff15cff;
$teaGreen: #CFE59C;
$silver: #CCCCCC;
$non-photo-blue: #9ed8dbff;
$ucla-blue: #467599ff;
$delft-blue: #1d3354ff;

/* SCSS RGB */
// $poppy: rgba(214, 64, 69, 1);
// $maize: rgba(255, 241, 92, 1);
// $non-photo-blue: rgba(158, 216, 219, 1);
// $ucla-blue: rgba(70, 117, 153, 1);
// $delft-blue: rgba(29, 51, 84, 1);
